---
import Feature from "../components/Feature.astro";
import Layout from "../layouts/Layout.astro";
import Input from "../components/Input.astro";
import { features } from "../assets/features";
import CopyClipboardButton from "../components/CopyClipboardButton.astro";
import RedirectButton from "../components/RedirectButton.astro";
---

<Layout>
  <main
    class="flex pt-24 pb-48 flex-col justify-center bg-gradient-to-b from-30% from-background via-40% via-background to-70% to-purple-gradient text-foreground"
  >
    {/* Hero Section */}
    <section
      class="max-w-2xl mx-auto pt-20 sm:pt-34 md:pt-40 px-6 sm:px-0 flex flex-col justify-center items-center text-center text-pretty animate-fade-in-down"
    >
      <h1
        class="mb-4 text-4xl font-bold tracking-tight sm:text-4xl md:text-6xl"
      >
        <span class="text-purple">游깷Acorta </span>tus URLs, tu mejor <span
          class="text-orange">Opci칩n</span
        >
      </h1>
      <p
        class="mx-auto mb-8 text-base md:text-base max-w-md text-font-secondary"
      >
        Crear enlaces memorables en segundos. Seguimiento de clicks.
      </p>
      <Input />
    </section>

    {/* URL Result Section */}
    <section
      class="max-w-2xl pt-0 lg:pt-6 mx-auto flex-col justify-center items-center text-center text-pretty animate-fade-in-down px-6 sm:px-0 flex"
    >
      <article
        class="mt-2 flex w-full sm:w-136 md:max-w-lg rounded-lg ring ring-primary/40 bg-card p-4 relative flex-col items-center justify-center drop-shadow-lg"
      >
        <article class="w-full flex flex-col justify-center gap-4 mb-6">
          <div
            id="display-url"
            class="h-14 w-full items-center flex rounded bg-card-foreground/50 py-2 px-4 transition-colors ease-in-out duration-200 relative drop-shadow-xl"
          >
            <div class="flex gap-4 absolute bottom-4 right-4 z-10">
              <CopyClipboardButton />
              <RedirectButton />
            </div>
            <p
              id="shortened-url-display"
              class="font-semibold text-base truncate text-primary-dark animate-fade-in"
            >
              Ejemplo: https://short.url/e42f3s
            </p>
          </div>
          <p
            class="text-xs text-font-secondary text-center text-pretty w-3/4 mx-auto"
          >
            URL original: <span
              id="original-url"
              class="text-secondary-dark/80 font-semibold"
            >
              https://www.example.com/SG43fd2d</span
            >
          </p>
        </article>

        <article
          class="w-full flex justify-around items-center text-sm font-semibold text-font-secondary gap-2"
        >
          <p class="text-secondary-light text-pretty text-end">
            <span id="created-at"></span>
          </p>
          <p class="text-secondary-light text-pretty text-end">
            <span id="expire-at" class="text-secondary-light font-semibold"
            ></span>
          </p>
          <p class="text-secondary-light text-pretty text-end">
            <span id="clicks"></span>
          </p>
        </article>
      </article>

      <p
        class="text-xs text-font-secondary text-center text-pretty py-4 w-3/4 mx-auto"
      >
        No necesitas registrarte. Usos b치sicos gratuitos. 游땔
      </p>
    </section>

    {/* Features Section */}
    <section class="pt-26 pb-20 w-full flex flex-col items-center">
      <div class="container w-11/12 sm:w-xl md:w-2xl lg:w-3xl xl:w-4xl">
        <h2
          class="mb-12 text-center text-2xl md:text-3xl font-bold animate-fade-in animate-delay-100"
        >
          쯇or que <span class="text-secondary">Shortend</span><span
            class="text-primary">URL</span
          >?
        </h2>
        <div
          class="grid gap-8 md:grid-cols-3 animate-fade-in animate-delay-200"
        >
          {features?.map((feature) => <Feature {...feature} />)}
        </div>
      </div>
    </section>
  </main>

  <script>
    import confetti from "canvas-confetti";
    import { notyfInstance, isRelativeTime, countClicks } from "../utils";
    const notify = notyfInstance();

    const $form = document.getElementById("shorten-form");
    const $inputURL = document.getElementById("inputURL") as HTMLInputElement;
    const $displayElement = document.getElementById("shortened-url-display");
    const $displayURL = document.getElementById("display-url");
    const $originalURL = document.getElementById("original-url");
    const $createdAt = document.getElementById("created-at");
    const $expireAt = document.getElementById("expire-at");
    const $clicks = document.getElementById("clicks");

    // Icons
    const $copyIcon = document.getElementById("copy-icon");
    const $externalLinkIcon = document.getElementById("external-link-icon");

    // Buttons
    const $copyBtn = document.getElementById("copy-btn");
    const $openUrlBtn = document.getElementById("open-url-btn");

    const API_URL = "/api/shorten";
    let originalURL = "";

    $form?.addEventListener("submit", (event) => {
      event.preventDefault();
      const isLight = document.documentElement.classList.contains("light");

      if (isLight) {
        $displayElement?.classList.remove("text-secondary-light");
        $displayElement?.classList.add("text-secondary");
      } else {
        $displayElement?.classList.remove("text-secondary");
        $displayElement?.classList.add("text-secondary-light");
      }

      const formData = new FormData(event.target as HTMLFormElement);

      fetch(API_URL, {
        method: "POST",
        body: formData,
      })
        .then((response) => {
          if (response.ok) {
            return response.json();
          }

          throw new Error("Something went wrong");
        })
        .then((data) => {
          const relativeTextTime = isRelativeTime(data.createdAt, true);
          const expireTextTime = isRelativeTime(data.createdAt, false);
          const clicks = countClicks(data.clicks);
          originalURL = data.shortUrl;

          confetti({
            particleCount: 120,
            spread: 100,
            origin: { y: 0.7 },
            disableForReducedMotion: true,
          });
          $inputURL.value = "";
          $inputURL.setAttribute("disabled", "");

          if (
            $displayElement &&
            $displayURL &&
            $originalURL &&
            $createdAt &&
            $expireAt &&
            $clicks
          ) {
            // Text Content
            $originalURL.textContent = data.url;
            $displayElement.textContent = originalURL;
            $createdAt.textContent = relativeTextTime;
            $expireAt.textContent = expireTextTime;
            $clicks.textContent = clicks;

            // Buttons
            $copyBtn?.classList.remove("hidden");
            $openUrlBtn?.classList.remove("hidden");

            // Animations
            $displayElement.classList.add("animate-fade-in");
            $displayElement.classList.add("text-secondary-light");
          }

          $inputURL.focus();
          $inputURL.removeAttribute("disabled");
        })
        .catch((error) => {
          console.log(error);
          $inputURL.value = "";
        });
    });

    // Copiar URL al hacer clic en la card
    $displayURL?.addEventListener("click", (e) => {
      e.stopPropagation();
      if ($displayURL?.textContent?.includes("Ejemplo")) return;
      const url = originalURL || window.location.href;

      navigator.clipboard.writeText(url);
      $displayURL?.classList.add("bg-background/90");
      notify.success("URL copiada al portapapeles");
    });

    // Copiar URL al hacer clic en el bot칩n de copiar
    $copyBtn?.addEventListener("click", (e) => {
      e.stopPropagation();
      if ($displayURL?.textContent?.includes("Ejemplo")) return;

      const $checkIcon = document.getElementById("check-icon");
      const url = originalURL || window.location.href;

      navigator.clipboard.writeText(url);
      $copyIcon?.classList.add("scale-0", "opacity-0");
      $checkIcon?.classList.remove("scale-0", "opacity-0");
      $checkIcon?.classList.add("scale-110");

      setTimeout(() => {
        $checkIcon?.classList.add("scale-0", "opacity-0");
        $checkIcon?.classList.remove("scale-110");
        $copyIcon?.classList.remove("scale-0", "opacity-0");
      }, 2000);
      return;
    });

    // Redirigir URL al hacer clic en el bot칩n de abrir
    $openUrlBtn?.addEventListener("click", async (e) => {
      e.stopPropagation();

      if ($displayURL?.textContent?.includes("Ejemplo")) return;
      const url = $originalURL?.textContent?.trim() || window.location.href;

      try {
        window.open(url, "_blank");
      } catch (error) {
        console.error("Error al abrir URL:", error);
      }
      return;
    });
  </script>
</Layout>
