---
import Feature from "../components/Feature.astro";
import Layout from "../layouts/Layout.astro";
import Input from "../components/Input.astro";
import { features } from "../assets/features";
---

<Layout>
  <main
    class="flex px-4 sm:px-8 flex-col justify-center bg-gradient-to-b from-30% from-background to-70% to-[#130b1dcc] text-foreground"
  >
    {/* Hero Section */}
    <section
      class="w-full py-24 md:py-40 flex flex-col justify-center items-center text-center text-pretty"
    >
      <h1
        class="mb-4 text-4xl font-bold tracking-tight sm:text-5xl md:text-6xl"
      >
        <span class="text-purple">Short</span> URLs, <span class="text-orange"
          >Big</span
        > Impact
      </h1>
      <p class="mx-auto mb-8 max-w-md text-muted-foreground">
        Create memorable links in seconds. Track clicks. Share anywhere.
      </p>
      <Input />
    </section>

    {/* Features Section */}
    <section class="py-14 pb-20 w-full flex flex-col items-center">
      <div class="container">
        <h2 class="mb-12 text-center text-2xl md:text-3xl font-bold">
          ¿Por que <span class="text-secondary">Short</span><span
            class="text-primary">URL</span
          >?
        </h2>
        <div class="grid gap-8 md:grid-cols-3">
          {features?.map((feature) => <Feature {...feature} />)}
        </div>
      </div>
    </section>
  </main>
</Layout>
