---
import ThemeToggle from "./ThemeToggle.astro";
---

<header
  class="flex just items-center absolute top-0 py-5 bg-transparent w-full animate-fade-in z-30"
>
  <section class="mx-auto w-11/12 sm:w-xl md:w-2xl lg:w-3xl xl:w-5xl flex justify-between items-center gap-2">
    <div class="flex items-center gap-2">
      <div class="w-4 h-4 md:h-6 md:w-6 rounded-full bg-purple"></div>
      <p class="md:text-xl text-lg text-secondary font-semibold">
        Shortend<span class="text-primary font-bold">URL</span>
      </p>
    </div>
    <nav>
      <ThemeToggle />
    </nav>
  </section>
</header>
