---
import ThemeToggle from "./ThemeToggle.astro"
---

<header class="flex items-center justify-between py-6 md:py-5 px-4 md:px-10">
  <div class="flex items-center gap-2">
    <div class="w-4 h-4 md:h-8 md:w-8 rounded-full bg-purple"></div>
    <p class="md:text-2xl text-lg text-secondary font-semibold">
      Short<span class="text-primary font-bold">URL</span>
    </p>
  </div>
  <nav>
    <ThemeToggle />
  </nav>
</header>
