<form
  id="shorten-form"
  class="w-full mb-10 flex flex-col items-center gap-4 sm:gap-2 sm:flex-row drop-shadow-lg"
>
  <input
    type="text"
    name="inputURL"
    id="inputURL"
    placeholder="Pega tu URL aquí"
    class="h-14 md:h-12 w-full outline-0 ring bg-card ring-purple/30 focus-visible:ring-purple disabled:bg-purple-dark/3 disabled:ring-purple/25 rounded-sm px-3 flex items-center transition-colors ease-in-out duration-200 text-base font-medium placeholder:text-font-secondary text-font-primary"
    required
  />
  <button
    type="submit"
    class="h-12 w-5/8 sm:w-3/8 md:w-52 px-8 bg-purple hover:bg-purple-dark rounded-sm cursor-pointer transition-colors ease-in-out duration-200 text-sm md:text-base text-font-white font-semibold drop-shadow-md"
    >Acortar URL</button
  >
</form>
