---
interface Props {}

const {} = Astro.props;
---

<form
  id="shorten-form"
  class="w-11/12 mb-10 flex flex-col items-center gap-3 sm:flex-row"
>
  <input
    type="text"
    name="inputURL"
    id="inputURL"
    placeholder="Paste your long URL here"
    class="h-12 w-full outline-0 ring bg-primary/5 ring-purple/30 focus-visible:ring-purple rounded text-foreground px-3 flex items-center"
    required
  />
  <button
    type="submit"
    class="h-12 w-1/2 md:w-auto px-8 bg-purple hover:bg-purple-dark rounded cursor-pointer transition-colors ease-in-out duration-200 text-sm md:text-base font-semibold drop-shadow-md"
    >Shorten</button
  >
</form>

<script>
import { navigate } from "astro/virtual-modules/transitions-router.js";

  const $form = document.getElementById("shorten-form");
  const API_URL = "/api/shorten";

  $form?.addEventListener("submit", (event) => {
    event.preventDefault();
    const formData = new FormData(event.target as HTMLFormElement);

    fetch(API_URL, {
      method: "POST",
      body: formData,
    })
      .then((response) => {
        if (response.ok) {
          return response.json();
        }

        throw new Error("Something went wrong");
      })
      .then((data) => {
        console.log(data);
        // navigate(data);
      });
  });
</script>
