---

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content="Create short, memorable links in seconds. Track performance with detailed analytics. Customize your links to match your brand." />
		<title>ShortURL - Shorten URLs, Expand Possibilities</title>
		<link rel="stylesheet" href="/src/styles/global.css">
	</head>
	<body>
		<slot />
	</body>
</html>